<notifications></notifications>

<div class="container-fluid">
    <h3> {{title}}</h3>
    <div class="row">
        
        <div class="col-md-6 well">
            <form [formGroup]="userForm" novalidate>
                <div class="form-group">
                    <label>Nombre</label>
                    <input type="text" formControlName="Nombre" class="form-control">
                    <div *ngIf="userForm.get('Nombre').hasError('required') && userForm.controls.Nombre.touched" class="alert alert-danger">
                      Nombre es requerido.
                    </div>
                    <div class="alert alert-danger" *ngIf="!userForm.controls.Nombre.valid && userForm.get('Nombre').hasError('minlength') && userForm.get('Nombre').touched">
                        Se requieren un minimo de 3 caracteres.
                    </div>
                </div>
                <div class="form-group">
                    <label>Apellido</label>
                    <input type="text" class="form-control" formControlName='Apellido'> 
                    <div *ngIf="userForm.get('Apellido').hasError('required') && userForm.controls.Apellido.touched" class="alert alert-danger">
                        Apellido es requerido.
                      </div>
                    <div class="alert alert-danger" *ngIf="!userForm.controls.Apellido.valid && userForm.get('Apellido').hasError('minlength') && userForm.get('Apellido').touched">
                        Se requieren un minimo de 3 caracteres.
                    </div>
                </div>
                <div class="form-group">
                    <label>Puesto de trabajo</label>
                    <select  class="form-control" formControlName='Puesto'> 
                        <option value="">Seleccionar puesto</option>
                        <option *ngFor="let item of puestos" [value]="item.puesto">{{ item.puesto }}</option>
                    </select>
                    <div *ngIf="userForm.get('Puesto').hasError('required') && userForm.controls.Puesto.touched" class="alert alert-danger">
                        <!--{{userForm.controls.Name.validator('required').message}}-->
                        Puesto es requerido.
                      </div>
                </div>
                <div class="form-group">
                    <label>Fecha de nacimiento</label>
                    <input type="date" class="form-control" formControlName='Fecha_nac'> 
                    <div *ngIf="userForm.get('Fecha_nac').hasError('required') && userForm.controls.Fecha_nac.touched" class="alert alert-danger">
                        <!--{{userForm.controls.Name.validator('required').message}}-->
                        Fecha de nacimiento es requerida.
                      </div>
                </div>
                <button [disabled]="!userForm.valid" type="submit" class="btn btn-primary" (click)="save(userForm.value)">
                Save
            </button>
                <button [routerLink]="[('/usuarios')]" class="btn btn-danger">
                Cancel
            </button>
            </form>
        </div>
    </div>
</div>