<h2> Usuarios </h2>
<p>
    <a [routerLink]="['AddUsuario']" class="btn btn-primary"> Añadir</a>
</p>


<!--issue : Not variables properly used as per standard like i should put Yes/No buttons
 in modalpopup component and that component should return me yes/no as output-->
<modal-popup [(visible)]="showDialog" title="Confirm">
    Estas seguro?
    <hr>
    <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="confirmDelete()">Sí</button>
    <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="showDialog = false">No</button>

</modal-popup>

<notifications></notifications>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Puesto de trabajo</th>
            <th>Fecha de nacimiento</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of usuarios">
            <td>{{user.Nombre}}</td>
            <td>{{user.Apellido}}</td>
            <td>{{user.Puesto}}</td>
            <td>{{user.Fecha_nac}}</td>
            <td>
                <a [routerLink]="['EditarUsuario', {id: user.id}]">

                    <i class="glyphicon glyphicon-edit"></i>
                </a>
            </td>
            <td>
                <i (click)="showDialog=true; objDeleteUsuario=user"
                 class="glyphicon glyphicon-remove" style="cursor:pointer"></i>
            </td>
        </tr>
    </tbody>